In [65]:
import requests
import json
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [71]:
def getPrice(symbol, startDate=None, endDate=None, yrsDelta=1):
    symbol = symbol.upper()
    base_url = "https://s.cafef.vn/Ajax/PageNew/DataHistory/PriceHistory.ashx"
    if endDate is None:
        endDate = datetime.today().strftime('%m/%d/%Y')
    if startDate is None:
        startDate = datetime.now() - relativedelta(years=yrsDelta)
        startDate = startDate.strftime('%m/%d/%Y')
    params = {
        "Symbol": symbol,
        "StartDate": startDate,
        "EndDate": endDate,
        "PageIndex": "1",
        "PageSize": "100000"
    }

    response = requests.get(base_url, params=params)
    if response.status_code == 200:
        content = json.loads(response.content)
        data = content["Data"]["Data"]
        data = pd.DataFrame(data)
    else:
        data = pd.DataFrame()
    return data

In [72]:
getPrice("aaa")

,Ngay,GiaDieuChinh,GiaDongCua,ThayDoi,KhoiLuongKhopLenh,GiaTriKhopLenh,KLThoaThuan,GtThoaThuan,GiaMoCua,GiaCaoNhat,GiaThapNhat
0,22/09/2023,10.30,10.30,-0.2(-1.90 %),5785700,60285000000,0,0,10.50,10.70,10.20
1,21/09/2023,10.50,10.50,0.15(1.45 %),7094200,75137000000,0,0,10.40,10.75,10.35
2,20/09/2023,10.35,10.35,0.2(1.97 %),3037900,31171000000,0,0,10.15,10.40,10.15
3,19/09/2023,10.15,10.15,-0.2(-1.93 %),3785900,38704000000,0,0,10.40,10.45,10.10
4,18/09/2023,10.35,10.35,0.05(0.49 %),2557500,26431000000,0,0,10.30,10.45,10.25
...,...,...,...,...,...,...,...,...,...,...,...
244,30/09/2022,9.89,9.89,-0.21(-2.08 %),3574300,35044000000,165000,1683000000,10.00,10.00,9.55
245,29/09/2022,10.05,10.05,-0.25(-2.43 %),1709300,17492000000,0,0,10.40,10.50,10.05
246,28/09/2022,10.30,10.30,0(0.00 %),1702800,17483000000,0,0,10.30,10.40,10.15
247,27/09/2022,10.30,10.30,-0.1(-0.96 %),1682900,17513000000,0,0,10.40,10.55,10.30
248,26/09/2022,10.35,10.35,-0.35(-3.27 %),3576700,37094000000,0,0,10.55,10.65,10.20