In [4]:
import pandas as pd

In [10]:
df = pd.read_csv("data_E01244_pl.csv")
df

,勘定科目,自 2021年4月1日 至 2022年3月31日,自 2020年4月1日 至 2021年3月31日,自 2019年4月1日 至 2020年3月31日,自 2018年4月1日 至 2019年3月31日,自 2014年4月1日 至 2015年3月31日,自 2013年4月1日 至 2014年3月31日
0,売上収益（IFRS）,"942,701","761,615","881,402","1,023,421",NaN,NaN
1,売上原価（IFRS）,"807,516","666,246","755,947","851,029",NaN,NaN
2,売上総利益（IFRS）,"135,185","95,369","125,455","172,392",NaN,NaN
3,販売費及び一般管理費（IFRS）,"108,376","100,346","111,072","120,965",NaN,NaN
4,その他の収益（IFRS）,"18,018","9,726","8,599","10,667",NaN,NaN
...,...,...,...,...,...,...,...
80,特別損失__当年度純利益,NaN,NaN,NaN,NaN,"66,553","39,417"
81,営業外費用__有価証券評価損,NaN,NaN,NaN,NaN,NaN,17
82,特別利益__受取保険金,NaN,NaN,NaN,NaN,NaN,－
83,特別損失__災害による損失,NaN,NaN,NaN,NaN,NaN,－
84,特別損失__少数株主損益調整前当年度純利益,NaN,NaN,NaN,NaN,NaN,"39,651"