In [2]:
import pandas as pd

pd.set_option('display.max_rows', 200)

In [3]:
df = pd.read_csv("data_E00015_pl.csv")
df.head(100)

,勘定科目,自 2022年4月1日 至 2023年3月31日,自 2021年4月1日 至 2022年3月31日,自 2020年4月1日 至 2021年3月31日,自 2019年4月1日 至 2020年3月31日,自 2018年4月1日 至 2019年3月31日,自 2017年4月1日 至 2018年3月31日,自 2016年4月1日 至 2017年3月31日,自 2015年4月1日 至 2016年3月31日,自 2014年4月1日 至 2015年3月31日
0,売上高,"1,020,456","866,702","862,585","905,204","922,468","918,820","873,295","884,811","863,784"
1,売上原価,"885,201","746,205","746,382","787,135","798,618","793,705","746,954","768,242","756,410"
2,売上総利益,"135,254","120,496","116,202","118,069","123,849","125,115","126,341","116,568","107,373"
3,販売費及び一般管理費,"105,678","96,677","99,994","100,989","102,091","100,617","100,033","99,596","98,687"
4,全事業営業利益,"29,575","23,819","16,208","17,079","21,758","24,497","26,308","16,972","8,686"
5,受取配当金,"1,001",890,887,"1,007",959,"1,154","1,215",964,936
6,持分法による投資利益,"1,113",808,483,775,"1,243","1,352",542,983,"1,210"
7,為替差益,"2,340",759,246,828,875,813,NaN,－,"3,086"
8,雑収入,"2,869","2,012","2,675","2,596","2,792","2,495","2,586","2,886","2,394"
9,営業外収益計,"7,324","6,040","4,293","5,207","5,871","5,816","4,344","4,833","7,627"
10,支払利息,"2,281","1,402","1,509","1,747","1,752","1,845","1,953","2,486","2,696"
11,貸倒引当金繰入額,443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,雑支出,675,860,862,639,644,552,825,961,"1,782"
13,営業外費用計,"3,400","2,263","2,371","2,386","2,397","2,397","2,778","4,682","4,479"
14,当期経常利益,"33,500","27,596","18,130","19,901","25,233","27,917","27,874","17,124","11,834"
15,固定資産売却益,"2,387","1,738",63,917,NaN,588,134,811,NaN
16,投資有価証券売却益,778,220,97,NaN,748,771,67,NaN,NaN
17,段階取得に係る差益,317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,特別利益__その他,894,205,33,163,158,24,5,23,491
19,特別利益計,"4,378","2,164",194,"4,915","4,704","1,384",302,"2,185","3,180"
20,固定資産処分損,"2,076",589,826,514,639,"1,028",411,NaN,524
21,減損損失,385,"1,100","2,143",689,673,"1,455","2,607","4,974","1,522"
22,火災損失,"3,079",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,特別損失__その他,791,553,"1,633",523,28,107,524,994,41
24,特別損失計,"6,333","2,243","7,762","3,749","3,391","2,590","3,544","6,876","3,359"
25,税引前当年度純利益,"31,545","27,518","10,561","21,067","26,547","26,711","24,632","12,433","11,655"
26,法人税,"7,597","4,519","3,711","5,526","6,177","7,067","6,194","4,495","3,658"
27,法人税等調整額,-538,"2,677","-2,073",770,"1,447",234,-376,"1,158","-1,398"
28,法人税等合計,"7,058","7,197","1,637","6,296","7,624","7,301","5,818","5,653","2,259"
29,四半期純利益,"24,486","20,321","8,924","14,770","18,922","19,409","18,814","6,779",NaN
30,非支配株主に帰属する四半期純利益,"5,890","3,422","3,145","2,232","2,226","3,307","3,368","2,682",NaN
31,親会社株主に帰属する四半期純利益,"18,596","16,898","5,778","12,537","16,695","16,102","15,446","4,097",NaN
32,補助金収入,NaN,"1,570",NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,受取保険金,NaN,NaN,－,"1,807","2,866",NaN,NaN,NaN,NaN
34,受取賠償金,NaN,NaN,－,"2,026",NaN,NaN,NaN,NaN,NaN
35,事業整理損失引当金繰入額,NaN,NaN,－,"1,186",NaN,NaN,NaN,NaN,NaN
36,事業整理損,NaN,NaN,"3,158",NaN,NaN,NaN,NaN,907,NaN
37,関係会社出資金売却益,NaN,NaN,NaN,－,931,NaN,NaN,NaN,NaN
38,災害による損失,NaN,NaN,NaN,835,"2,049",NaN,NaN,NaN,NaN
39,関係会社株式売却益,NaN,NaN,NaN,NaN,NaN,－,95,NaN,NaN
40,受取補償金,NaN,NaN,NaN,NaN,NaN,NaN,－,"1,349",NaN
41,為替差損,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,234",NaN
42,事業譲渡益,NaN,NaN,NaN,NaN,NaN,NaN,NaN,－,"2,688"
43,たな卸資産処分損,NaN,NaN,NaN,NaN,NaN,NaN,NaN,－,"1,270"
44,少数株主持分損益調整前四半期純利益,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"9,395"
45,少数株主持分利益,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,176"
46,当年度純利益,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7,219"